.efw-work-filter-selection-component {

  .work-filter-selection-list-container {
    width: 400px;
    margin: 0 auto;
    background-color: lightgrey;
    .work-container {

      padding:6px;
    }
  }

}
