.introgrid-contain-container {

  margin: 0 auto;
  width: 100%;
  height: 100%;

  .grid-item {

    position: relative;
    margin-bottom: 40px;
    width: 245px;
    height: 245px;

    .permanent-front-grid-item-container {
      background-size: contain;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;

      width: 225px;
      height: 225px;
      margin: auto auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      img {

        object-fit: contain;
        }

      }

    }

}
