
<table class="table">
		<caption>
			Translations
		</caption>
		<thead>
			<tr>
				<th>Language</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td>EN</td>
				<td><div class="translation"><%= best_in_place question, :title_en, :as => :input, url: [:admin,question] %></div></td>
			</tr>
			<tr>
				<td>DE</td>
				<td><div class="translation"><%= best_in_place question, :title_de, :as => :input, url: [:admin,question] %></div></td>
			</tr>
		</tbody>
	</table>
