//TODO: Use bootstrap variables where possible
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #F9FAFD;
}

.table-striped-even > tbody > tr:nth-of-type(even) {
  background-color: #F9FAFD;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.table > thead > tr > th {
  border-bottom: 2px solid $table-border-color;
  font-size: 14px;
  color: #425B78;
}

.table > tbody > tr > td {
  color: #536C8A;
  font-size: 13px;
}

.table > tbody > tr > td > a {
  color: #6096D8;
  font-size: 13px;
}